
<!-- left side start-->
<div class="left-side sticky-left-side">


    <!--logo and iconic logo start-->
    <div class="logo">
        <a href=""><img src="/images/xiaodi_logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="/bootstrap/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">

        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="/bootstrap/images/photos/user-avatar.png" class="media-object">
                <div class="media-body">

                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li style="height: 15px;"></li>
            <li class="menu-list nav-active">
                <a href="javascript:void(0);"><i class="fa fa-home"></i> <span>考勤管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/leave/show">员工可用假查询</a></li>
                    <li><a href="/leave/manage">请假管理</a></li>
                    <li><a href="/leave/add">请假登记</a></li>
                    <li><a href="/overtime/show">加班记录查询</a></li>
                    <li><a href="/overtime/add">加班记录登记</a></li>
                    <li><a href="/festival/manage">节假日信息管理</a></li>
                    <li><a href="/festival/show">节假日信息</a></li>
                    <li><a href="/userinfo/manage">用户信息管理</a></li>
                    <li><a href="/opLog/manage">用户请求log</a></li>
                </ul>
            </li>
        </ul>
        <!--sidebar nav end-->
    </div>
</div>
<!-- left side end-->

