<!-- page heading start-->
<div class="page-heading">
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="active">
            节假日信息
        </li>
    </ul>

</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">

    <!-- page start-->
    <div class="row">
        <aside class="col-md-9">
            <section class="panel">
                <div id="calendar" class="has-toolbar"></div>
            </section>
        </aside>

    </div>
    <!-- page end-->

</div>

</div>
<!--calendar css-->
<link href="/js/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet"/>

<link href="/css/style.css" rel="stylesheet">
<link href="/css/style-responsive.css" rel="stylesheet">
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<script src="/js/fullcalendar/fullcalendar.min.js"></script>
<script src="/js/external-dragging-calendar.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
